{namespace n=TYPO3\Neos\ViewHelpers}
{namespace history=TYPO3\EventLog\ViewHelpers}
<f:for each="{events}" as="event">
	<div style="clear:both;">
		{event.eventType}
		{event.user} <br />
		{event.timestamp -> f:format.date(forceLocale: true)} <br />
		<f:render section="{event.eventType}" arguments="{event: event}" optional="TRUE" />
		<f:if condition="{event.numberOfFollowingSimilarEvents}">
			and {event.numberOfFollowingSimilarEvents} more
		</f:if>
	</div>
	<hr />
</f:for>

<f:section name="NODE_PUBLISHED">
	Published {event.data.documentNodeType}
	<f:if condition="{event.node}">
		<f:then>
			<n:link.node node="{event.node}" />
		</f:then>
		<f:else>
			<span title="This node has been removed in the meantime">{event.data.nodeLabel}</span>
		</f:else>
	</f:if>

	<p>
	<f:for each="{event.childEvents}" as="childEvent">
		{childEvent.eventType}
	</f:for>
	</p>
</f:section>