{namespace history=TYPO3\EventLog\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<link rel="stylesheet" href="../../../Public/Styles/HistoryModule.css" />
<div class="neos-history">

	<f:for each="{eventsByDate}" as="eventsOnSingleDay" iteration="iteration">
		<div class="neos-history-day">
			<div class="neos-history-date"><div class="neos-history-date-inner">{eventsOnSingleDay.day -> f:format.date(format: 'M d')}</div></div>

			<div class="neos-history-events {f:if(condition: iteration.isOdd, then: 'neos-history-events-left', else: 'neos-history-events-right')}">
				<f:for each="{eventsOnSingleDay.events}" as="event">
					<div class="neos-history-event">
						<div class="neos-history-event-time">{event.timestamp -> f:format.date(format: 'H:i')}</div>
						<div class="neos-history-event-user">{event.user -> history:userInitials()}</div>
						<div class="neos-history-event-description">{event.user -> history:userInitials(format: 'fullFirstName')} <ts:render path="eventDescription" context="{event: event}" /></div>
					</div>
				</f:for>
			</div>
		</div>
	</f:for>
</div>